* {
    font-family: Montserrat;
}
body {
    background: url("background.jpg");
    background-size: cover;
    padding-top: 100px;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
    }
}

.acrylic {
    backdrop-filter: blur(10px);
    color: #d3d3d3;
}
