* {
    font-family: Montserrat;
}
body {
    background: url("back.jpg");
    background-size: cover;
    color: white;
    padding-top: 100px;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
    }
}

.acrylic {
    backdrop-filter: blur(10px);
    color: #d3d3d3;
}

.navbar {
    padding: 0.5rem 0.5rem; /* Adjust as needed */
}

.nav-item {
    padding: 0.5rem 1rem; /* Adjust as needed */
}

.skill-list > img {
    width: 100px;
    background-color: white;
    border-radius: 20px;
}
